---
layout: default
---
<br>
<div class="introducao">
    <h1>Análise de animes</h1>
</div>


<ul>
{% for post in site.posts %}
<br>
  <div class="card">
    <div class="title">
        <a href="{{ post.url | relative_url }}" style = "color:#F19F4D">{{post.title}}</a>
    </div>
    <div class="card2">
        <div class="resume">
            {{post.resume}}
            <br>
        </div>
        <div class="figure">
            <img src = "{{post.figureresum | relative_url}}" width="100%" height="same-as-width">             
        </div>
    </div>
        <div class="autor">
            Escrito por {{post.author}} em {{post.data}}
   
</div>
  </div>
  
{% endfor %}
<br>
<br>
</ul>